@{
    ViewBag.Title = "Home Page";
}


<div class="mt-4 p-5 bg-primary text-white rounded" style="margin-bottom: 2em; overflow:  hidden; display: flex; align-items: center; justify-content: space-between; height: 60vh;">

    <div style="height: 100%; margin-top: 4em;">

        @if (Session["id"] != null)
        {
            <h1 style="font-weight: 900; margin-bottom: 1em">Welcome back, @Session["name"]</h1>
        }
        else
        {
            <h1 style="font-weight: 900; font-size: 3em; margin-bottom: 0.5em;">Welcome to<br />TicketBoss!</h1>
        }






        <p>
            Looking for a place to spend time? <br />
            Check out all events happening right now (or soon)! <br /><br />

            @Html.ActionLink("Event", "Index", "Events")
        </p>

    </div>

    <img src="~/Images/ASP_LOGO_NOBG.png" style="width: 40%;"/>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Event Host?</h2>
        <p>
            See how you can register your event from below!
        </p>
        @Html.ActionLink("Click here!", "RegisterEventIns")
    </div>
</div>