@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img src="~/Images/ASP-Logo-bgRemoved.png" height="200" style="float:left"/>
    @if (Session["id"] != null)
    {
        <h1 style="font-weight: 900; margin-bottom: 1em">Welcome back, @Session["name"]</h1>
    } else
            {
    <h1 style="font-weight: 900;">Welcome to TicketBoss!</h1>
            }

    <p>
        Looking for a place to spend time? <br />
        Check out all events happening right now (or soon)! <br /><br />

        @Html.ActionLink("Event", "Index", "Events")
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Event Host?</h2>
        <p>
            See how you can register your event from below!
        </p>
        @Html.ActionLink("Click here!", "RegisterEventIns")
    </div>
</div>