@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "RegisterEventIns";
}
<br />
<h2>For Hosts: How can I register my event?</h2>
<br />
<hr />
<br />
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div style="font-weight:bolder;">1. Log in using your host account</div>
            <br />
            Don't have the host account? Register @Html.ActionLink("Here!", "Create", "Users")
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div style="font-weight:bolder;">2. Go to @Html.ActionLink("Event", "Index", "Events") page and Click Create New Event</div>
            <br />
            Don't see a button? Make sure you are logged in using the host account.<br/>
            If you are and still not see it, please contact admin.
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div style="font-weight:bolder;">3. Fill in the information </div>
            <br />
            Fill in attractive information for your event!
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div style="font-weight:bolder;">4. Click Create </div>
            <br />
            Don't worry, you will have able to edit if you made a mistake!<br />
            If any error occurs, please contact admin.
        </div>
    </li>
</ol>
