@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "RegisterEventIns";
}

<h2>For Hosts: How can I register my event?</h2>

<div>
    <!--Simple instruction on how the hosts can add their events to the list-->
    Instructions coming soon
</div>
